<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ndjc.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- IF:PERMISSION.CAMERA -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- ENDIF -->

    <!-- IF:PERMISSION.NOTIFICATION -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- ENDIF -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"      <!-- NDJC:APP_LABEL -->
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/NDJCTheme">     <!-- NDJC:THEME_NAME -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
