<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndjc.app">

    <!-- 运行/存储权限（生成器会注入） -->
    <!-- NDJC:BLOCK:PERMISSIONS -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <!-- 网络安全配置（如有网络安全 xml，可开启） -->
        <!-- NDJC:BLOCK:NETWORK_SECURITY -->

        <!-- FileProvider（使用清单占位符 @xml/file_paths） -->
        <!-- NDJC:BLOCK:FILE_PROVIDER -->

        <!-- 通知/启动广播/前台服务类型 -->
        <!-- NDJC:BLOCK:NOTIFICATION_RECEIVER -->
        <!-- NDJC:BLOCK:BOOT_RECEIVER -->
        <!-- NDJC:BLOCK:FOREGROUND_SERVICE_TYPES -->

        <!-- Shortcuts（见 res/xml/shortcuts.xml） -->
        <!-- NDJC:BLOCK:SHORTCUTS -->

        <!-- 小组件（见 res/xml/sample_widget_info.xml） -->
        <!-- NDJC:BLOCK:WIDGET -->

        <!-- 多语言 -->
        <!-- NDJC:LOCALE_CONFIG -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- 入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 额外 IntentFilter -->
            <!-- NDJC:BLOCK:INTENT_FILTERS -->

            <!-- DeepLink & App Links -->
            <!-- NDJC:BLOCK:DEEPLINK -->
            <!-- NDJC:BLOCK:APP_LINKS -->
        </activity>
    </application>
</manifest>
