<application
    android:label="NDJC:APP_LABEL"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/Theme.NDJC">
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
